{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li>
        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<form action="{% url 'accounts:logout' %}" method="get">
    <input type="submit" value="Logout">
</form>
<form action="{% url 'accounts:modification' %}" method="get">
    <input type="submit" value="Modificate account">
</form>
<form action="{% url 'polls:make' %}" method="get">
    <input type="submit" value="Make question">
</form>